*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body {
    font-family: sans-serif;
}

.header {
    padding: 15px 10px;
    background-color: teal;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.list {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.item {
    margin-right: 15px;
}

.link {
    border: 1px solid #000;
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: #fff;
}


.active:hover .mega-menu {
    display: flex;
}

/* ------***-***------------- */

.mega-menu {
    display: none;
    align-items: center;
    justify-content: space-between;
    top: 55px;
    left: 0;
    right: 50%;
    bottom: 20%;
    background-color: rgba(0, 0, 0, 0.616);
    position: absolute;
}

.mega-list {
    list-style-type: none;
}

.mega-link {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: #000;
}